data/adversarials/
data/cif100_adversarial_images/*
!data/cif100_adversarial_images/.gitkeep
data/cif10_adversarial_images/*
!data/cif10_adversarial_images/.gitkeep
data/cifar-100-python
data/detectors/*
!data/detectors/.gitkeep
data/cifar-100-python.tar.gz
data/characteristics/*
!data/characteristics/.gitkeep
data/cifar-10-batches-py
data/cifar-10-python.tar.gz
data/cleat_data_cif
InputMFS_Notebook.ipynb
testing_stuff.ipynb
data/sample_mean.py
data/clean_data_cif10
data/clean_data_cif100
data/precision*
data/sample*
data/precision.npy
models/vgg_cif100.pth
models/vgg_cif10.pth
models/__pycache__/vgg.cpython-38.pyc
__pycache__/
models/__pycache__/vgg_cif10.cpython-37.pyc
models/__pycache__/vgg_cif10.cpython-38.pyc
models/__pycache__/vgg.cpython-37.pyc
models/.ipynb_checkpoints/vgg-checkpoint.py
.ipynb_checkpoints/
